<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://plugin.powerschool.pearson.com"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
		name="Notifier"
		version="2.1.4"
		description="Notification System for PowerSchool">

	<publisher name="David Pond">
		<contact email="powertoolsforpowerschool@gmail.com" />
	</publisher>

</plugin>